<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.mapper.good">
    <resultMap id="type" type="goodType">
        <id property="tid" column="tid"/>
        <result property="typename" column="typename"/>
        <collection property="goods" column="typeid" ofType="good" select="spring.mapper.findGoodsByTypeId"/>
    </resultMap>
    <select id="findGoodsType" resultMap="type">
        select *
        from goodtype
    </select>


</mapper>
